[alias]
	s = status
	ps = push
	p = pull
	c = commit -S -m
	a = add .
	pf = push --force-with-lease
	ca = commit -S --amend
	can = commit -S --amend --no-edit
	l = log --oneline --graph
	cl = clone
	rss = restore --staged
	ds = diff --staged
	rs = restore
	co = checkout
	rc = rebase --continue
	ra = rebase --abort
	bD = branch -D
	b = branch
	d = diff
	ap = add -p
[user]
	name = Filip Razek
	email = filip@razek.net
[core]
	editor = nvim
[diff]
	tool = nvimdiff  
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[commit]
	gpgsign = true
